<header class="main_header">
  <ul class="nav_list">
    <li class="nav_search">
      <form
        #seachForm="ngForm"
        (ngSubmit)="search_form_submit_handler(seachForm)"
      >
        <input
          type="text"
          placeholder="Search"
          name="search_string"
          [(ngModel)]="search_data.value"
        />
        <button type="button">Search</button>
      </form>
    </li>
    <li class="nav_item"><a routerLink="shop">SHOP</a></li>
    <li class="nav_item"><a routerLink="cart">CART</a></li>
  </ul>
</header>
