<div class="form_container">
  <h1 class="form_title">Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="login_form_submit(loginForm)">
    <!-- Custom Dropdown -->
    <div class="form_group custom_select_group">
      <label for="select_for_role">Select the role:</label>
      <div class="custom_select_wrapper">
        <select
          id="select_for_role"
          name="user_role"
          [(ngModel)]="login_data.role"
          required
        >
          <option value="" disabled selected>Select position</option>
          <option value="Client">Client</option>
          <option value="Admin">Admin</option>
        </select>
        <span class="custom_arrow">▼</span>
      </div>
    </div>

    <div class="form_group">
      <label for="Username">Username</label>
      <input
        type="email"
        id="Username"
        placeholder="Enter Username"
        name="user_name"
        [(ngModel)]="login_data.username"
        required
      />
    </div>
    <div class="form_group">
      <label for="Password">Password</label>
      <input
        type="password"
        id="Password"
        name="user_password"
        placeholder="Enter password"
        [(ngModel)]="login_data.password"
        required
      />
    </div>
    <button
      type="submit"
      class="form_submit_btn"
      [disabled]="authservice.var_login_button_status"
    >
      <ng-container
        *ngIf="authservice.var_login_loading_state; else noneloading"
      >
        <app-loader />
      </ng-container>
      <ng-template #noneloading>Login</ng-template>
    </button>
  </form>
  <div class="signup_prompt">
    <p>
      Don’t have an account?
      <a class="signup_link" routerLink="/signin">Sign up</a>
    </p>
  </div>
</div>
