.container {
  width: 100%;
  height: fit-content;
}
.container div {
  border-radius: 2rem;
  height: 2rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 3rem;
}
a {
  color: white;
  text-decoration: none;
}
