.main_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
  padding: 1rem;
  max-width: 100%;
}
.product_container {
  flex: 1 1 200px;
  max-width: 220px;
  min-width: fit-content;
  height: 140px;
  display: flex;
  align-items: stretch;
}
