<div class="reponse_container">
  <app-response-handler
    type="{{ authservice.var_response_type }}"
    message="{{ authservice.var_response_message }}"
  />
</div>
<div class="form_container">
  <h1 class="form_title">Signin</h1>
  <form #SigninForm="ngForm" (ngSubmit)="Signin_form_submit(SigninForm)">
    <div class="form_group">
      <input
        type="text"
        id="Username"
        name="user_name"
        placeholder=" "
        [(ngModel)]="signin_data.username"
        required
        minlength="5"
        #Username="ngModel"
      />
      <label for="Username">Username</label>
    </div>

    <div class="form_group">
      <input
        type="password"
        id="Password"
        name="user_password"
        placeholder=" "
        [(ngModel)]="signin_data.password"
        required
        minlength="5"
        #Password="ngModel"
      />
      <label for="Password">Password</label>
    </div>

    <button
      type="submit"
      class="form_submit_btn"
      [disabled]="authservice.var_signin_button_status"
    >
      <ng-container
        *ngIf="authservice.var_signin_loading_state; else noneloading"
      >
        <app-loader />
      </ng-container>
      <ng-template #noneloading style="user-select: none">Signin</ng-template>
    </button>
  </form>
</div>
